body {
  padding-top: 70px;
  padding-bottom: 30px;
}
.jumbotron {
	background-image: url('../../images/rbc.jpg');
	background-position: center;
	background-size: 100%;
}
.jumbotron h1, .jumbotron p {
	color: #ffffff ;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
